body {
    background-color: coral;
}

img {
    width: 200px;
}

.title_01{
    font-size: 400%;
    text-align: center;
}

.title_02{
    font-size: 150%;
    text-align: center;
}

.title_03{
    font-size: 100%;
    text-align: center;
}

.Par_01{
    font-size: 100%;
    text-align: center;
}

.Par_02{
    font-size: 100%;
    text-align: center;
    @extend .blue, .lighten-4;
}

.portfolioimg{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}