header {
    background-color: #263238;
}

body {
    background-color: #263238;
}

/*#region Titles*/

.title_01 {
    font-size: 400%;
    text-align: center;
}

.title_02 {
    font-size: 150%;
    text-align: center;
}

.title_03 {
    font-size: 100%;
    text-align: center;
}

.title_side {
    font-size: 150%;
}

.title_side2 {
    font-size: 125%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

/*#endregion*/

.Par_01 {
    font-size: 100%;
    text-align: center;
}

/*#region Colors*/

.body_white {
    background-color: white;
}

.body_red {
    background-color: darkred;
}

.body_limegreen {
    background-color: limegreen;
}

.body_blue {
    background-color: #304ffe;
}

.color_gray {
    color: gray;
}

.color_black {
    color: black;
}

.color_red {
    color: red;
}

.color_green {
    color: green;
}

.color_blue {
    color: blue;
}

/*#endregion*/

/*#region Positions*/

.pos_rel {
    position: relative;
}

.pos_abs {
    position: absolute;
}

.pos_fix {
    position: fixed;
}

.pos_30px {
    top: 30px;
    left: 30px;
}

.pos_01 {
    left: 15%;
    top: 10%;
}

/*#endregion*/

/*#region Margin*/

.Margin10 {
    margin-left: 10%;
    margin-right: auto;
}

.margin_01{
    margin-left: 5%;
    margin-right: auto;
}

/*#endregion*/

/*#region Images*/

[class*="img_"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_02 {
    width: 70%;
    height: 10%;
}

.img_03 {
    width: 80%;
    height: 40%;
}

.img_04 {
    width: 80%;
    height: 20%;
}

.img_05 {
    width: 180px;
    height: 325px;
}

.img_06 {
    width: 70%;
    height: 60%;
}

.img_07 {
    width: 100%;
    height: 5%;
}

.img_08 {
    width: 50%;
    height: 5%;
}

.img_09 {
    width: 400px;
    height: 300px;
}

.img_10 {
    width: 492px;
    height: 242px;
}

.img_11 {
    width: 541px;
    height: 266px;
}

.img_12 {
    width: 442px;
    height: 217px;
}

.img_13 {
    width: 500px;
    height: 455px;
}

.img_14 {
    width: 1015px;
    height: 248px;
}

.img_15 {
    width: 533px;
    height: 25px;
}

.img_16 {
    width: 94px;
    height: 28px;
}

.img_17 {
    width: 95%;
    height: 40vh;
}

.img_height_01 {
    width: 100px;
    height: 280px;
}

.img_width_01{
    width: 200px;
    height: 100px;
}

.img_100px {
    width: 100px;
    height: 100px;
}

.img_arrow {
    width: 5%;
    height: 5%;
}

.bgImage_01 {
    background-image: url("Assets/DE_BG.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.size_01 {
    width: 90%;
    height: 90%;
}

/*#endregion*/

/*#region Backgrounds*/

.bg_cardboard {
    background: url(https://s3.envato.com/files/333246909/IMG_0379.jpg)
}

/*#endregion*/

/*#region Misc*/

.underline {
    text-decoration: underline;
}

.border_solid {
    border : solid;
}

/*#endregion*/
